<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::parent(~{::section})" >
<head>
    <title>Home Page</title>
</head>
<body>
<section>
    <h1>Welcome to Home Page</h1>
    <h3>Service Offered by SCM</h3>
    <p><span class="20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio ea enim eos ex facere facilis illum inventore, maiores nostrum, nulla possimus provident quasi qui recusandae saepe sapiente sit ullam?</span></p>
</section>
</body>
</html>